<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Назва проекту:</label>
            <input [(ngModel)]="Label" class="form-control" />
        </div>
        <div class="form-group">
            <label>Відповідальний за проект:</label>
            <input (ngModelChange)="FilterHeads()" [(ngModel)]="_headsInput" class="form-control" />
            <div class="list-group">
                <li *ngFor="let user of _filteredHeads"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    (click)="SelectHead(user.Id, user.ViewName)">
                    {{user.ViewName}}({{user.Login}})
                </li>
            </div>
        </div>
        <div class="form-group">
            <label>Відповідальний:</label>
            <input (ngModelChange)="FilterExecutors()" [(ngModel)]="_executorsInput" class="form-control" />
            <div class="list-group">
                <li *ngFor="let user of _filteredExecutors"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    (click)="SelectExecutor(user.Id, user.ViewName)">
                    {{user.ViewName}}({{user.Login}})
                </li>
            </div>
        </div>
        <button class="btn btn-success" (click)="Save()">Зберегти</button>
    </div>
</div>