<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Редагування користувачів з розширеним доступом</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Поточні користувачі:</label>
                    <div class="list-group">
                        <button class="list-group-item list-group-item-action" (click)="UnpinUser(user)"
                            *ngFor="let user of Project?.Admins">{{user.ViewName}}
                            ✖</button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Додати користувача:</label>
                    <input (ngModelChange)="Search()" [(ngModel)]="_filterInput" class="form-control" />
                    <div class="list-group" *ngIf="_filteredUsers.length > 0">
                        <button class="list-group-item list-group-item-action" *ngFor="let user of Users"
                            (click)="PinUser(user)">{{user.ViewName}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="SaveData()">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="DismisModal()">Close</button>
            </div>
        </div>
    </div>
</div>