<div>
    <div class="form-group">
        <label>Логін:</label>
        <input  class="form-control" [(ngModel)]="Login" name="Login"/>
    </div>
    <div class="form-group">
        <label>Пароль:</label>
        <input type="password" class="form-control" [(ngModel)]="Password"/>
    </div>
    <div class="form-group">
        <label>Відображаєме ім'я:</label>
        <input type="text" class="form-control" [(ngModel)]="ViewName"/>
    </div>
    <p *ngIf="isError" class="text-danger">Сталась помилка</p>
    <button class="btn btn-success" (click)="CreateUser()">Зберегти</button>
</div>