<div class="row">
    <div class="col-3">
        <button class="btn btn-ligth btn-block" (click)="goBack()"> << </button>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{Unit?.Label}}</h5>
                <div class="list-group">
                    <a *ngFor="let position of Unit?.Positions" href="/unit/position/{{position.Id}}" class="list-group-item list-group-item-action">{{position.Label}}</a>
                </div>
            </div>
        </div>
    </div>
</div>