<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="/admin/users" id="users" class="list-group-item list-group-item-action">Користувачі</a>
            <a href="/admin/groups" id="groups" class="list-group-item list-group-item-action">Групи юзерів</a>
            <a href="/admin/units" id="units" class="list-group-item list-group-item-action">Підрозділи</a>
            <a href="/admin/projects" id="units" class="list-group-item list-group-item-action">Проекти</a>
        </div>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>