<div class="row ">
    <div class="col-3 offset-4">
        <button class="btn btn-success" (click)="ShowCreateUnitModal()">Створити підрозділ</button>
    </div>
    <div class="col-2 offset-3">
        <button class="btn btn-success" (click)="ShowCreatePositionModal()">Створити посаду</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="list-group">
            <button *ngFor="let unit of Units" type="button" (click)="LoadPositions(unit.Id)"
                class="list-group-item list-group-item-action">{{unit.Label}}
                <span class="badge badge-primary badge-pill">{{unit.Positions?.length}}</span>
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="list-group" *ngIf="Positions.length > 0">
            <button *ngFor="let position of Positions" type="button" (click)="ShowEditPositionModal(position.Id)"
                class="list-group-item list-group-item-action">{{position.Label}}
                <span class="badge badge-primary badge-pill">{{position.Users?.length}}</span>
            </button>
        </div>
    </div>
</div>

<editunit-main [Id]="PositionId" [editPositionModal]="editPositionModal"
    (onChanged)="onChanged($event)"></editunit-main>
<createunit-main [createUnitModal]="showCreateUnitModal" (onChanged)="onChanged($event)"></createunit-main>
<createposition-main [createPositionModal]="showCreatePositionModal"
    (onChanged)="onChanged($event)"></createposition-main>